* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
}

/* Header Style Start */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0px 100px;
}

.header-logo {
    font-family: "Oswald", "sans-serif";
    font-size: 22px;
    letter-spacing: 2px;
    color: #2a6b84;
}

.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-contacts .header-contacts-phone, .header-contacts-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-contacts .header-contacts-phone i, .header-contacts-email i{
    font-size: 24px;
    color: #2a6b84;
}

.header-contacts .header-contacts-phone p, .header-contacts-email p {
    font-size: 16px;
    font-family: "Poppins", "sans-serif";
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 600;
    color: #1e1d24;
}
/* Header Style End */

/* Navbar Style Start */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: #8DC63F;
}

.navbar .navbar-items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .navbar-items li {
    list-style: none;
}

.navbar .navbar-items li a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-family: "Oswald", "sans-serif";
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: .3s ease;
}

.navbar .navbar-items li a:hover {
    color: #1e1d24;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
}

.hamburger span {
    width: 35px;
    height: 3px;
    background-color: whitesmoke;
}

.navbar .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navbar .social-media i {
    font-size: 26px;
    color: #FFFFFF;
}
/* Navbar Style End */

/* Swiper Style Start */
.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-1 {
    background-image: url("./images/home-painter-slider-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-2 {
    background-image: url("./images/CAOY1224.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-3 {
    background-image: url("./images/papier-peint.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-4 {
    background-image: url("./images/type-parquet.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-transparent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.swiper-slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(255, 255, 255, .8);
    padding: 80px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.swiper-slide.swiper-slide-active .swiper-slide-content {
    opacity: 1;
    transform: translateY(0);
}

.swiper-slide-content h2 {
    font-size: 48px;
    color: #1e1d24;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.swiper-slide-content-description {
    font-size: 22px;
    color: #1e1d24;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 600;
}

.swiper-slide-content-contact-information {
    font-size: 26px;
    color: #252525;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 600;
}

.swiper-slide-content-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.swiper-slide-content-contact-devis-button{
    padding: 15px;
    color: white;
    font-family: "Oswald", "sans-serif";
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #8DC63F;
    background-color: #8DC63F;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s ease;
}

.swiper-slide-content-contact-devis-button{
    color: #8DC63F;
    background-color: #FFFFFF;

}

.swiper-slide-content-contact-about-button{
    padding: 15px;
    color: #8DC63F;
    font-family: "Oswald", "sans-serif";
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #8DC63F;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s ease;
}

.swiper-slide-content-contact-about-button{
    color: #FFFFFF;
    background-color: #8DC63F;
}

.swiper-slide-content-contact-final-information{
    font-size: 18px;
    color: #1e1d24;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.swiper-slide.swiper-slide-active .swiper-slide-content h2,
.swiper-slide.swiper-slide-active .swiper-slide-content p,
.swiper-slide.swiper-slide-active .swiper-slide-content-buttons {
    animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Swiper Style End */

/* Services Style Start */
.services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    gap: 50px;
}

.services-title h1 {
    font-size: 42px;
    font-style: normal;
    font-family: "Oswald", "sans-serif";
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1e1d24;
}

.services-row {
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    gap: 20px;
}

.service:hover .service-image{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.service-image {
    height: 250px;
    width: 250px;
    border: 7px solid #8DC63F;
    border-radius: 50%;
    overflow: hidden;
    transition: .3s ease;
}

.service-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.service-nom{
    font-size: 28px;
    font-style: normal;
    font-family: "Oswald", "sans-serif";
    color: #1e1d24;
    text-transform: uppercase;
}

.service-description {
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", "sans-serif";
    font-weight: 500;
}

/* Services Style End */

/* Paint Persone Start */

.paint-persone {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: #8DC63F;
}

.paint-persone-foto {
    display: flex;
    align-self: flex-end;
    width: 700px;
}

.paint-persone-content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 800px;
    margin-left: 30px;
}

.paint-persone-content h2 {
    color: #FFFFFF;
    font-family: "Oswald", "sans-serif";
    font-size: 34px;
}

.paint-persone-content p {
    color: #FFFFFF;
    font-family: "Poppins", "sans-serif";
    font-size: 22px;
    font-style: normal;
}

.paint-persone-content button {
    font-family: "Oswald", "sans-serif";
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    border: 1px solid #8DC63F;
    color: #8DC63F;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.paint-persone-content button:hover{
    border: 1px solid #2a6b84;
    color: #2a6b84;
}

/* Paint Persone End */

/* About-us Style Start */
.about-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 50px;
}

.about-us-title {
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
    color: #1e1d24;
    letter-spacing: 1px;
}

.abou-us-stars {
    display: flex;
    gap: 15px;
}

.abou-us-stars i {
    font-size: 22px;
    color: #ffd14b;
}

.about-us-text {
    width: 800px;
}

.about-us-text p {
    font-family: "Poppins", "sans-serif";
    font-size: normal;
    font-size: 18px;
    font-weight: 400;
    color: #1e1d24;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}

.about-us-content-information-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-us-content-information-icon i {
    font-size: 72px;
    color: #8DC63F;
}

.about-us-content-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-us-content-information h2 {
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    font-size: 28xp;
    color: #2a6b84;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about-us-content-information p {
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: #252525;
}
/* About-us Style end */

/* Galery Style Start */

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
}

.galery-title {
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
    color: #1e1d24;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.galery-row {
    display: flex;
    width: 1200px;
    gap: 5px;
}

.galery-row-image-box {
    width: 300px;
}

.galery-row-image-box:hover img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  /* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
}

/* The Close Button */
.close-cursor {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 42px;
    font-weight: bold;
}
  
.close-cursor:hover,
.close-cursor:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides.active{
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Galery Style End */

/* Get Started Style Start */
.get-started {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    background-color: #8DC63F;
}

.get-started-content {
    width: 800px;
}

.get-started-content-title {
    font-size: 42px;
    font-style: normal;
    font-family: "Oswald", "sans-serif";
    color: #FFFFFF;
}

.get-started-content-subtitle {
    font-size: 24px;
    font-style: normal;
    font-family: "Poppins", "sans-serif";
    font-weight: 500;
    color: #FFFFFF;
    margin: 18px 0;
}

.get-started-content-title-description {
    font-size: 20px;
    font-style: normal;
    font-family: "Poppins", "sans-serif";
    font-weight: 500;
    color: #FFFFFF;
}


.get-started-content-button {
    margin-top: 20px;
    font-family: "Oswald", "sans-serif";
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    border: 1px solid #2a6b84;
    color: #2a6b84;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.get-started-content-button:hover{
    border: 1px solid #8DC63F;
    color: #8DC63F;
}

.get-started-img {
    width: 300px;
}
/* Get Started Style End */

/* Footer Style Start */

.footfer {
    width: 100%;
    padding: 40px 0;
    margin-top: 60px;
    background-color: #252525;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content-about{
    width: 350px;
}

.footer-content-contact{
    width: 300px;
}

.footer-content-links,
.footer-content-social {
    width: 150px;
}

.footer-content-about h3,
.footer-content-contact h3,
.footer-content-links h3,
.footer-content-social h3{
    font-family: "Oswald", "sans-serif";
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #8DC63F;
}

.footer-content-about p {
    font-size: 14px;
    font-family: "Poppins", "sans-serif";
    color: whitesmoke;
}

.footer-contact-adresse, .footer-contact-phone, .footer-contact-email {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-contact-phone i, .footer-contact-email i {
    color: #fac564;
    font-size: 18px;
}

.footer-contact-adresse i {
    font-size: 24px;
    color: #fac564;
}

.footer-contact-adresse p, .footer-contact-phone p, .footer-contact-email p {
    font-family: "Poppins", "sans-serif";
    font-size: 14px;
    color: whitesmoke;
}

.footer-contact-adresse-p {
    margin: 15px 0 15px 0;
    color: whitesmoke;
}


.footer-content-links ul {
    list-style: none;
    padding: 0;
}

.footer-content-links li {
    list-style: none;
    margin-bottom: 2px;
}

.footer-content-links ul li a {
    font-family: "Poppins", "sans-serif";
    font-size: 15px;
    letter-spacing: 1px;
    color: whitesmoke;
    text-decoration: none;
    transition: .3s;
}

.footer-content-links ul li a:hover {
    color: #fac564;
}

.footer-content-social a {
    margin-right: 10px;
    font-size: 24px;
    color: whitesmoke;
}

.footer-content-social a:hover {
    color: #fac564;
}

/* Footer Style End */

/* CSS Media Start */
@media (max-width: 768px) {

/* Header Media Style Start */
.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.header-logo {
    font-size: 16px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-contacts .header-contacts-phone, .header-contacts-email {
    gap: 10px;
}

.header-contacts .header-contacts-phone i, .header-contacts-email i{
    font-size: 16px;
}

.header-contacts .header-contacts-phone p, .header-contacts-email p {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
/* Header Media Style End */

/* Navbar Media Style Start */
.navbar {
    position: relative;
    padding: 0px 40px;
}

.navbar .navbar-items {
    width: 100%;
    flex-direction: column;
    position: absolute;
    left: -100%;
    top: 75px;
    z-index: 1000;
    text-align: center;
    background: #8DC63F;
    gap: 15px;
    padding: 20px 0;
    transition: 0.3s ease;
}

.navbar .navbar-items li a{
    font-size: 18px;
}

.hamburger {
    display: flex;
}

.hamburger span {
    transition: .3s ease;
}

.hamburger.active .hamburger-span1{
    transform: translateY(11px) rotate(45deg);
}
.hamburger.active .hamburger-span2{
    opacity: 0;
}
.hamburger.active .hamburger-span3{
    transform: translateY(-9px) rotate(-45deg);
}

.navbar-items.active{
    left: 0;
}
/* Navbar Media Style End */

/* Swiper Media Style Start */
.swiper {
    width: 100%;
    height: 400px;
}


.swiper-slide-content {
    gap: 15px;
    padding: 40px 20px;
}

.swiper-slide-content h2 {
    font-size: 24px;
}

.swiper-slide-content-description {
    font-size: 14px;
    font-weight: 600;
}

.swiper-slide-content-contact-information {
    font-size: 16px;
    font-weight: 600;
}

.swiper-slide-content-buttons {
    gap: 30px;
}

.swiper-slide-content-contact-devis-button{
    padding: 5px;
    font-weight: 500;
    font-size: 10px;
}

.swiper-slide-content-contact-devis-button{
    color: #8DC63F;
    background-color: #FFFFFF;

}

.swiper-slide-content-contact-about-button{
    padding: 5px;
    font-weight: 500;
    font-size: 10px;
}


.swiper-slide-content-contact-final-information{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
/* Swiper Media Style End */

/* Services Media Style Start */
.services {
    margin-top: 50px;
    gap: 30px;
}

.services-title h1 {
    font-size: 32px;
}

.services-row {
    flex-direction: column;
    gap: 20px;
}

.service-nom{
    font-size: 28px;
}

.service-description {
    font-size: 16px;
    font-weight: 500;
}

/* Services Media Style End */

/* Paint Persone Media Start */

.paint-persone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    padding: 0 15px;
}

.paint-persone-foto {
    display: flex;
    align-self: center;
    width: 350px;
    order: 2;
}

.paint-persone-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 10px;
    margin: 15px 0;
}

.paint-persone-content h2 {
    font-size: 18px;
}

.paint-persone-content p {
    font-size: 14px;
    font-weight: 500;
}

.paint-persone-content button {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
}

.paint-persone-content button:hover{
    border: 1px solid #2a6b84;
    color: #2a6b84;
}

/* Paint Persone media style End */

/* About-us Media Style Start */
.about-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-us-title {
    font-size: 28px;
}

.abou-us-stars {
    display: flex;
    gap: 15px;
}

.abou-us-stars i {
    font-size: 22px;
}

.about-us-text {
    width: 100%;
}

.about-us-text p {
    font-size: 14px;
    font-weight: 500;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}

.about-us-content-information-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-us-content-information-icon i {
    font-size: 52px;
}

.about-us-content-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-us-content-information h2 {
    font-size: 20px;
}

.about-us-content-information p {
    font-size: 14px;
    font-weight: 500;
}
/* About-us Media Style end */

/* Galery Media Style Start */

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.galery-title {
    font-size: 28px;
    margin-bottom: 30px;
}

.galery-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.galery-row-image-box {
    width: 300px;
}

.galery-row-image-box:hover img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  /* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
}

/* The Close Button */
.close-cursor {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 42px;
    font-weight: bold;
}
  
.close-cursor:hover,
.close-cursor:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides.active{
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Galery Media Style End */

/* Get Started Media Style Start */
.get-started {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 60px;
}

.get-started-content {
    width: 100%;
    padding: 0 10px;
    margin: 15px 0;
}

.get-started-content-title {
    font-size: 26px;
}

.get-started-content-subtitle {
    font-size: 18px;
    margin: 10px 0;
}

.get-started-content-title-description {
    font-size: 14px;
}

.get-started-content-button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
}

.get-started-img {
    width: 180px;
}
/* Get Started Media Style End */

/* Footer Media Style Start */

.footfer {
    width: 100%;
    padding: 40px 0;
    margin-top: 60px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content-about{
    width: 350px;
}

.footer-content-contact{
    width: 300px;
}

.footer-content-links,
.footer-content-social {
    width: 150px;
}

.footer-content-about h3,
.footer-content-contact h3,
.footer-content-links h3,
.footer-content-social h3{
    margin-bottom: 10px;
}

.footer-content-about p {
    font-size: 14px;
}

.footer-contact-adresse, .footer-contact-phone, .footer-contact-email {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-contact-phone i, .footer-contact-email i {
    font-size: 18px;
}

.footer-contact-adresse i {
    font-size: 24px;
}

.footer-contact-adresse p, .footer-contact-phone p, .footer-contact-email p {
    font-size: 14px;
}

.footer-contact-adresse-p {
    margin: 15px 0 15px 0;
}


.footer-content-links ul {
    list-style: none;
    padding: 0;
}

.footer-content-links li {
    list-style: none;
    margin-bottom: 2px;
}

.footer-content-links ul li a {
    font-size: 15px;
}

.footer-content-social a {
    margin-right: 10px;
    font-size: 24px;
}
/* Footer Media Style End */
}

@media (max-width: 555px) {
    .header {
        padding: 0 5px;
    }

/* Swiper Media Style Start */

.swiper-slide-content {
    gap: 15px;
    padding: 50px 20px;
    border-radius: 5px;
}

}

@media (max-width: 490px) {

.swiper-slide-content {
    gap: 15px;
    padding: 40px 15px;
        border-radius: 5px;
}
    
.swiper-slide-content h2 {
    font-size: 22px;
    letter-spacing: 1px;
}
    
.swiper-slide-content-description {
    font-size: 13px;
    font-weight: 600;
}
    
.swiper-slide-content-contact-information {
    font-size: 15px;
    font-weight: 600;
}
    
.swiper-slide-content-buttons {
    gap: 30px;
}
    
.swiper-slide-content-contact-devis-button{
    padding: 5px;
    font-weight: 500;
    font-size: 10px;
}
    
.swiper-slide-content-contact-about-button{
    padding: 5px;
    font-weight: 500;
    font-size: 10px;
}
    
    
.swiper-slide-content-contact-final-information{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
/* Swiper Media Style End */

/* Services Media Style Start */
.services {
    margin-top: 50px;
    gap: 30px;
}


.services-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    gap: 20px;
}

.service-nom{
    font-size: 28px;
}

.service-description {
    font-size: 16px;
    font-weight: 500;
}
/* Services Media Style End */
}

@media (max-width: 425px) {
.swiper-slide-content {
    gap: 15px;
    padding: 30px 10px;
    border-radius: 5px;
}

.swiper-slide-content h2 {
    font-size: 22px;
    letter-spacing: 1px;
}

.swiper-slide-content-description {
    font-size: 12px;
    font-weight: 600;
}
    
.swiper-slide-content-contact-information {
    font-size: 12px;
    font-weight: 600;
}

.swiper-slide-content-buttons {
    gap: 30px;
}

.swiper-slide-content-contact-devis-button{
    padding: 5px;
    font-weight: 500;
    font-size: 10px;
}
    

.swiper-slide-content-contact-about-button{
    padding: 5px;
    font-weight: 500;
    font-size: 10px;
}


.swiper-slide-content-contact-final-information{
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
    /* Swiper Media Style End */
}